.contentBox {
    margin: 6px;
    padding: 0.2rem;
}

.contentBox h1 {
    margin-bottom: 1rem;
    color: var(--primary-theme-colour);
}

.underline {
    border-bottom: 2px solid var(--grey);
}

.contentBox ul {
    padding-left: 2rem;
}

